<%- partial('_partial/header') %>

<div class="post-content" id="post-content">
    <h1 class="post-title" itemprop="name headline"><%= page.title %></h1>

    <!-- 引入APlayer播放器CSS和JavaScript -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>

    <!-- 初始化音乐播放器 -->
    <div id="aplayer"></div>
    <script>
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            audio: [
                {
                    name: '歌曲名1',
                    artist: '歌手1',
                    url: '歌曲链接1',
                    cover: '封面图片链接1'
                },
                {
                    name: '歌曲名2',
                    artist: '歌手2',
                    url: '歌曲链接2',
                    cover: '封面图片链接2'
                }
                // 可以继续添加更多歌曲
            ]
        });
    </script>
</div>

<%- partial('_partial/footer') %>
